/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}
body {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
  font-weight: bold;
	color: #6e859c;
  padding: 0;
  margin: 0;
	background: #fff;
}
.grid {
  background: #fff;
	margin: 0 auto;
  justify-items: center;
}
.item {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.search {
  max-width: 50%;
  margin: 2rem auto;
  text-align: center;
}

input {
  width: 80%;
  box-sizing: border-box;
  padding: 1rem 0rem 1rem .5rem;
  border: #ccc 2px solid;
  border-radius: 4px;
}


/* ===================================== 
   Grid System
======================================== */

.grid {
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

figcaption {
  font-weight: normal;
}